<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="other" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="news" type="other" page="news.aspx" inherit="DTcms.Web.UI.Page.news" templet="">
    <item path="news.aspx" pattern="news.aspx" />
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_nr" type="other" page="news_nr.aspx" inherit="DTcms.Web.UI.Page.news_nr" templet="">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="customergroup" type="other" page="customergroup.aspx" inherit="DTcms.Web.UI.Page.customergroup" templet="">
    <item path="customergroup.aspx" pattern="customergroup.aspx" />
  </rewrite>
  <rewrite name="case" type="other" page="case.aspx" inherit="DTcms.Web.UI.Page.case" templet="">
    <item path="case.aspx" pattern="case.aspx" />
    <item path="case/{0}.aspx" pattern="case/(\d+).aspx" querystring="category_id=$1" />
    <item path="case/{0}/{1}.aspx" pattern="case/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="case_list" type="other" page="case_list.aspx" inherit="DTcms.Web.UI.Page.case_list" templet="">
    <item path="case_list.aspx" pattern="case_list.aspx" />
    <item path="case_list/{0}.aspx" pattern="case_list/(\d+).aspx" querystring="category_id=$1" />
    <item path="case_list/{0}/{1}.aspx" pattern="case_list/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="case_nr" type="other" page="case_nr.aspx" inherit="DTcms.Web.UI.Page.case_nr" templet="">
    <item path="case/show-{0}.aspx" pattern="case/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="serviceguarantee" type="other" page="serviceguarantee.aspx" inherit="DTcms.Web.UI.Page.serviceguarantee" templet="">
    <item path="serviceguarantee.aspx" pattern="serviceguarantee.aspx" />
  </rewrite>
  <rewrite name="aboutus" type="other" page="aboutus.aspx" inherit="DTcms.Web.UI.Page.aboutus" templet="">
    <item path="aboutus.aspx" pattern="aboutus.aspx" />
  </rewrite>
  <rewrite name="qualification" type="other" page="qualification.aspx" inherit="DTcms.Web.UI.Page.qualification" templet="">
    <item path="qualification.aspx" pattern="qualification.aspx" />
  </rewrite>
  <rewrite name="history" type="other" page="history.aspx" inherit="DTcms.Web.UI.Page.history" templet="">
    <item path="history.aspx" pattern="history.aspx" />
  </rewrite>
  <rewrite name="partner" type="other" page="partner.aspx" inherit="DTcms.Web.UI.Page.partner" templet="">
    <item path="partner.aspx" pattern="partner.aspx" />
  </rewrite>
  <rewrite name="idea" type="other" page="idea.aspx" inherit="DTcms.Web.UI.Page.idea" templet="">
    <item path="idea.aspx" pattern="idea.aspx" />
  </rewrite>
  <rewrite name="equipment" type="other" page="equipment.aspx" inherit="DTcms.Web.UI.Page.equipment" templet="">
    <item path="equipment.aspx" pattern="equipment.aspx" />
  </rewrite>
  <rewrite name="contactus" type="other" page="contactus.aspx" inherit="DTcms.Web.UI.Page.contactus" templet="">
    <item path="contactus.aspx" pattern="contactus.aspx" />
  </rewrite>
  <rewrite name="advantage" type="other" page="advantage.aspx" inherit="DTcms.Web.UI.Page.advantage" templet="">
    <item path="advantage.aspx" pattern="advantage.aspx" />
  </rewrite>

</urls>